.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(circle at top,
      rgba(59,130,246,0.15),
      transparent 35%),
    #020617;
  overflow: hidden;
  position: relative;
}

.auth-page::before {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  background:
    radial-gradient(
      circle,
      rgba(168,85,247,0.2),
      transparent 70%
    );

  top: -150px;
  right: -150px;

  filter: blur(40px);
}

.auth-card {
  width: 400px;

  padding: 40px;

  border-radius: 28px;

  background:
    rgba(15,23,42,0.75);

  border:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(25px);

  box-shadow:
    0 0 40px rgba(0,0,0,0.35);

  position: relative;

  z-index: 2;
}

.auth-logo {
  text-align: center;

  font-size: 52px;

  font-weight: bold;

  margin-bottom: 10px;

  background: linear-gradient(
    to right,
    #60a5fa,
    #a855f7
  );

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.auth-subtitle {
  text-align: center;

  color: #94a3b8;

  margin-bottom: 35px;

  font-size: 15px;
}

.auth-input {
  width: 100%;

  padding: 16px 18px;

  margin-bottom: 18px;

  border-radius: 16px;

  border: 1px solid rgba(255,255,255,0.08);

  background: rgba(255,255,255,0.05);

  color: white;

  font-size: 15px;

  outline: none;

  transition: 0.25s;
}

.auth-input:focus {
  border-color: rgba(96,165,250,0.7);

  box-shadow:
    0 0 15px rgba(59,130,246,0.25);
}

.auth-input::placeholder {
  color: #94a3b8;
}

.auth-button {
  width: 100%;

  padding: 16px;

  border: none;

  border-radius: 16px;

  background: linear-gradient(
    to right,
    #2563eb,
    #7c3aed
  );

  color: white;

  font-size: 15px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.25s;

  margin-top: 5px;
}

.auth-button:hover {
  transform: translateY(-2px);

  box-shadow:
    0 10px 25px rgba(59,130,246,0.25);
}

.auth-error {
  margin-top: 15px;

  color: #f87171;

  text-align: center;

  font-size: 14px;
}

.auth-footer {
  margin-top: 24px;

  text-align: center;

  color: #cbd5e1;

  font-size: 14px;
}

.auth-footer a {
  color: #60a5fa;

  font-weight: bold;
}

.auth-footer a:hover {
  color: #93c5fd;
}